*{margin: 0; padding: 0; box-sizing: border-box;}
.carousel-item{
    height: 92vh;
    min-height: 200px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;    
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.7;
}
.carousel-caption{
    font-size: larger;
    bottom: 175px;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.slider-btn{
    margin-top: 30px;
}
.slider-btn .btn{
    margin-left: 200;
    background-color: beige;
    columns: gray;
    border-radius: 1;
    padding: 1.5rem 3rem;
    font-size: 2rem;
}